.footer{
  background-color: #C0C0C0;
  position: relative;

  &__top-container{
    height: 9rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hr-top-basis{
    flex-basis: 40%;
  }

  &__logo{
    height: 13rem;
    width: 13rem;

    position: block;
  }

  &__social-icons{
    font-size: 2.5rem;
    color: black;
  }

}
