.layout_324af{  
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: white;
  padding: 2rem;
  // padding: 2rem auto;

  @media all and (min-width: 900px){
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  @media all and (max-width: 410px){
    position:unset;
  }

}