input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.9rem;
}

.sign-up {
  max-width: 100rem;
}

.btn-reg {
  background-color: red;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  width: 12rem;
}