.welcomeContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    flex: 1;
}

.welcomeMessage {    
    display: flex;
    flex-direction: column;
    flex: 1;
}


.welcomeImage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 3rem;
}

.imageContainer{
    max-width: 50%;
}

@media only screen and (max-width: 992px) {
    .welcomeContainer {
        flex-direction: column;
        padding: 10px;
    }
    .welcomeImage{
        display: flex;
        flex-direction: column;
        height: 100%;
        object-fit: cover;
        flex: 1;
    }
    .imageContainer{
        max-width: 100%;
    }
  }


.welcomeMessage {
    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
    }

    p {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
    }

    .btn {
        width: 50%;
        height: 50px;
        background: $primary;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
    }
}

.button_Expand{
    text-decoration: none;
    font-weight: bolder;
}

.button_Expand:hover{
    text-decoration:underline;
    text-decoration-color: black
}

