.news{

  &__container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100rem;

    @include responsive($medium){
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap:5rem ;
      margin: 2rem auto;
    }
  }

  &__loader{
    min-height: 100vh;
    width: 100vw;

    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__card{
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.06) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color: #EAEBF3;
    margin-bottom: 1rem;
    width: 80%;

    @include responsive($medium){
      border-radius: 1rem;
      overflow: hidden;
      width: 22rem;
      height: 27rem;
      flex-direction: column;
    }
  }

  &__card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    padding: 0 2rem;

    @include responsive($medium){
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      width: 100%;
      margin-top: 2rem;
    }

  }

  &__image{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 8rem;
    width: 25%;

    @include responsive($medium){
      
        height:17rem;
        width: 25rem;
      
    }
  }


}


