
input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.9rem;
}

.sign-up {
  width: 300px;
}

.btn-reg {
  width: 100px;
}
