*{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  background-color: #EAEBF3;
  font-family: 'Poppins', sans-serif; 
}


.error {
  position: relative;
  color: red;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #EAEBF3;
  padding: 0.3rem;
}