// Colors will be referenced as primary, secondary and light
// Ex: bg-primary

$primary: #DB5752;
$secondary: #FAFA88;
$light: #9AC9FB;


// Font-weights

$font-weight-lighter: 200;
$font-weight-bold: 500;
$font-weight-bolder: 600;

//Carousel-variables

$carousel-control-opacity:          1;
$carousel-control-hover-opacity:    .7;
